:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
}


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  min-width: 300px;
  width: auto; 
  background-color: white; 
  color: black;
  text-align: center;
  border-radius: 5px;
  border: 2px solid black;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -75px; 
  opacity: 0;
  transition: opacity 0.3s; 
  font-size: var(--description-font-size);
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1; 
}

.tooltip-icon {
  cursor: pointer;
}
